.pagination {
    &-action {
        margin-top: 0.25rem;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
    }
    &-info {
        text-align: right;
    }
}
